<?xml version="1.0"?>
<launch>
    <arg name="device_ip" default="" />
    <arg name="zed_manager" default="zed_nodelet_manager" />
    <arg name="lidar_manager" default="velodyne_nodelet_manager" />
    <group ns="zed">
        <!-- Nodelet Manager -->
        <node pkg="nodelet" type="nodelet"
        name="$(arg zed_manager)" args="manager" output="screen" />
        <!-- Load ZED Wrapper nodelet -->
        <include file="$(find zed_wrapper)/launch/include/zed_camera_nodelet.launch">

            <arg name="camera_name" value="zed" />
            <arg name="camera_model" value="zed" />
            <arg name="nodelet_manager_name"
            value="$(arg zed_manager)" />
        </include>
        <!-- Start rtabmap_ros/stereo_sync -->
        <node pkg="nodelet" type="nodelet" name="stereo_sync"
        args="load rtabmap_ros/stereo_sync $(arg zed_manager)"
        output="screen">
            <remap from="right/image_rect"
            to="/zed/zed_nodelet/right/image_rect_color" />
            <remap from="left/image_rect"
            to="/zed/zed_nodelet/left/image_rect_color" />
            <remap from="right/camera_info"
            to="/zed/zed_nodelet/right/camera_info" />
            <remap from="left/camera_info"
            to="/zed/zed_nodelet/left/camera_info" />
            <remap from="rgbd_image" to="rgbd_image" />
        </node>
    </group>
    <group ns="lidar">
        <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch">

            <arg name="manager" value="$(arg lidar_manager)" />
            <arg name="frame_id" value="/base_link" />
        </include>
    </group>
    <group ns="rtabmap">
        <node name="rtabmapviz" pkg="rtabmap_ros" type="rtabmapviz"
        output="screen" args="_frame_id=base_link">
            <param name="frame_id" type="string"
            value="base_link" />
            <param name="subscribe_depth" type="bool"
            value="false" />
            <param name="subscribe_rgbd" type="bool"
            value="true" />
            <param name="subscribe_scan_cloud" type="bool"
            value="true" />
            <remap from="odom" to="/zed/zed_nodelet/odom" />
            <remap from="scan_cloud" to="/lidar/velodyne_points" />
            <remap from="rgbd_image" to="/zed/rgbd_image" />
            <param name="queue_size" type="int" value="10" />
            <!-- RTAB-Map's parameters -->
            <param name="RGBD/NeighborLinkRefining" type="string"
            value="true" />
            <param name="RGBD/ProximityBySpace" type="string"
            value="true" />
            <param name="RGBD/AngularUpdate" type="string"
            value="0.01" />
            <param name="RGBD/LinearUpdate" type="string"
            value="0.01" />
            <param name="RGBD/OptimizeFromGraphEnd" type="string"
            value="false" />
            <param name="Grid/FromDepth" type="string"
            value="false" />
            <!-- occupancy grid from lidar -->
            <param name="Reg/Force3DoF" type="string"
            value="true" />
            <param name="Reg/Strategy" type="string" value="1" />
            <!-- 1=ICP -->
            <!-- ICP parameters -->
            <param name="Icp/VoxelSize" type="string"
            value="0.05" />
            <param name="Icp/MaxCorrespondenceDistance"
            type="string" value="0.1" />
        </node>
    </group>
</launch>
